@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  background: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.menu {
  position: fixed;
  background: #60b4df;
  width: 100%;
  height: 3em;
  z-index: 1000;
}
section {
  width: 100%;
  height: calc(100vh - 3em);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(56, 165, 238, 0.2);
}
.contenedor {
  width: 70%;
  height: 3em;
  padding: 0 30px;
  display: flex;
}
.nombre {
  flex: 1;
  align-items: center;
  display: flex;
  position: relative;
}
.nombre h3 {
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
.nombre h3 span {
  font-weight: 300;
}
.link {
  flex: 3;
}
.link ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.link ul a {
  color: white;
  line-height: 2x.7em;
  margin: 0 10px;
  text-decoration: none;
  max-width: 100%;
  font-weight: 400;
  text-transform: uppercase;
}
.link ul li {
  height: 3em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link ul li:hover {
  transition: ease 0.3s all;
  background: rgba(0, 0, 0, 0.2);
}
.nombre-autor {
  text-align: center;
  left: 50%;
  margin-top: 14%;
}
.foto {
  background-color: rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 30px;
}
.nombre-autor img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: -10px;
}
.nombre-autor h3 {
  color: white;
}
.nombre-autor h3 span {
  font-weight: 300;
}
#check {
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
  width: 2.5em;
  height: 2.5em;
  opacity: 0;
  cursor: pointer;
  z-index: 90000;
  display: none;
}
#check:checked ~ .contenedor-menu-hamburguesa .menu-hamburguesa div {
  background-color: transparent;
}
#check:checked ~ .contenedor-menu-hamburguesa .menu-hamburguesa div:before {
  transform: translateY(0) rotate(-45deg);
}
#check:checked ~ .contenedor-menu-hamburguesa .menu-hamburguesa div:after {
  transform: translateY(0) rotate(45deg);
}

.contenedor-menu-hamburguesa {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
  width: 2.5em;
  height: 2.5em;
}
.menu-hamburguesa {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-hamburguesa div {
  width: 1.7em;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  /*position: relative;*/
  transition: 0.5s;
  cursor: pointer;
  z-index: 1001;
}
.menu-hamburguesa div:before,
.menu-hamburguesa div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: white;
  border-radius: 3px;
  transition: 0.5s;
}
.menu-hamburguesa div:before {
  transform: translateY(-7px);
}
.menu-hamburguesa div:after {
  transform: translateY(7px);
}

.parallax {
  background-image: url("../2020-07-18_01h54_55.png");
  height: 100vh;

  /*Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.parallax-capa2 {
  background-image: /*url("../../2020-07-18_01h54_55.png"); */ url("../2020-07-18_01h54_55.png");
  height: 100vh;

  /*Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-capa3 {
  /*background: linear-gradient(-45deg, #700b0b, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;*/
  background: linear-gradient(103deg, #2193b0 0%, #6dd5ed 100%);
  /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,44,144,1) 0%, rgba(0,212,255,1) 97%);
   */
  height: auto;

  /*Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;

  display: flex;
  flex-direction: column-reverse;
}
.capa2 {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.formenu {
  width: 100vw;
  height: 10vh;
  background-color: #60b4df;
  display: none;
}
.sobremi {
  margin: 30px auto;
  font-family: monospace;
  font-size: 35px;
  text-transform: uppercase;
}
.contenido {
  width: 100%;
  display: flex;
  justify-content: start;
}
.acercade {
  margin: 0 0 0 50px;
  /*background: linear-gradient(103deg, #ffffff 50%, #f2f2f2 50%);*/
  padding: 10px 30px;
  text-align: justify;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  flex-shrink: 2;
  width: 50%;
}
.contenedor-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-img img {
  width: 80%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19),
    0 16px 16px 0 rgba(0, 0, 0, 0.7);
}
.acercade p {
  font-size: 20px;
  font-weight: 300;
}
.habilidades {
  width: 100%;
  margin-top: 5em;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}
.habilidades .skill h3 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.tools {
  width: 100%;
  height: calc(100vh - 10em);
  padding-top: 20px;
}
.caja {
  width: 100%;
  height: calc(100vh / 5);
  display: flex;
}
.tech {
  width: 20%;
  height: 100%;
}
.tech div {
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.tech div h3 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.tech .img {
  height: 80%;
}
.tech .img img {
  height: 80px;
  vertical-align: middle;
  border-style: none;
}

#particles-js {
  height: 100vh;
  width: 100%;
}

/* ---- Start Card portafolico ----*/
.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .card {
  width: 330px;
  height: 380px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 1s;
  border: 1px solid #60b4df;
}

.container .card:hover {
  /* transform: translateY(-15px); */

  background: #c04848; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(
    to right,
    #480048,
    #c04848
  );*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,44,144,1) 0%, rgba(0,212,255,1) 97%);
 
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  color: white;
}

.container .card img {
  width: 330px;
  height: 220px;
}

.container .card h4 {
  margin-top: 10px;
  font-weight: 600;
}

.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

.miportafolio {
  width: 100%;
  margin: 80px auto 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.miportafolio h3 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

/*----Ens Cards portafolio ---*/

/* .capa3 {
  width: 100vw;
  height: 100vh;
  background: #fff;
  font-size: 36px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.portafolio {
  
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 320px;
  column-gap: 2em;
}
.trabajo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  transition: 5s;
}
.imagen {
  width: 100%;
  height: 70%;
  background-color: cadetblue;
}
.imagen img {
  width: 100%;
  height: 100%;
}
.nombreproyecto {
  width: 100%;
  height: 30%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nombreproyecto:hover {
  transition: ease 5s all;
  background: linear-gradient(-45deg, #60b4df 0%, #8ee4f5 100%);
}
.nombreproyecto h3 {
  font-family: monospace;
  text-align: center;
}*/
.overlay2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.contacto {
  width: 100%;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
}
.contacto h3 {
  font-weight: bold;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}
.media {
  margin: 30px auto;
}
.contacto li,
a.LI-simple-link {
  list-style: none;
  margin: auto 30px;
  display: inline-block;
  font-size: 80px;
}
.contacto li a,
a i {
  text-decoration: none;
  transform-style: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  border-radius: 80%;
}
.footer {
  position: absolute;
  width: 100%;
  height: 8vh;
  background-color: #000;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer h3 {
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 7px;
}
.footer h3 span {
  font-weight: lighter;
}
.footer #segunda-fila {
  display: none;
}
@keyframes animacion {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.my-body {
  display: none;
  width: 100%;
  min-height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
  padding: 0;
}
.swiper-container {
  width: 100%;
  top: 50%;
  height: 100%;
  margin-bottom: 50px;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 150px;
}
.swiper-wrapper .swiper-slide img {
  height: 150px;
  display: block;
  margin: auto;
  height: 80%;
}
.swiper-wrapper .swiper-slide div h3 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.swiper-wrapper .swiper-slide div {
  width: 100%;
  height: 20%;
  padding-bottom: 10px;
}
/* --- media query maxima -- */
@media screen and (max-width: 1200px) {
  .contenedor {
    width: 100%;
  }
  .contenido {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .capa2 .acercade {
    width: 90%;
    margin: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }
  .capa2 .acercade p {
    font-size: 17px;
  }
  .contenedor-img {
    width: 100%;
  }
  .contenedor-img img {
    display: none;
  }
  .sobremi {
    margin: 20px 0 5px 0 auto;
  }
  .tech div h3 {
    font-size: 18px;
  }
  .tech .img {
    height: 70%;
  }
  .tech .img img {
    height: 70px;
  }
}

/* ---  media query -- */

@media screen and (max-width: 992px) {
  .contenedor {
    width: 100%;
  }
  .link ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link ul li a {
    font-size: 0.8em;
    margin: 0 10px;
  }
  .portafolio {
    column-gap: 0.3em;
  }
  .contenido {
    display: flex;
    flex-direction: column-reverse;
  }
  .capa2 .acercade {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .capa2 .acercade p {
    font-size: 17px;
  }
  .contenedor-img {
    width: 100%;
  }
  .contenedor-img img {
    display: none;
  }
  .sobremi {
    margin: 20px 0 5px 0 auto;
  }
  .tech div h3 {
    font-size: 15px;
  }
  .tech .img {
    height: 50%;
  }
  .tech .img img {
    height: 50px;
  }
  .portafolio {
    grid-template-rows: 200px;
  }
  .nombreproyecto h3 {
    font-size: 20px;
  }
}

/* -- media quety minima --*/

@media screen and (max-width: 700px) {
  .link {
    position: fixed;
    height: calc(100vh - 3em);
    margin-top: 3em;
    width: 100%;
    background-color: transparent; /*#69bde7;**/
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateX(100%);
    transition: 0.5s;
  }
  #check:checked ~ .link {
    transform: translateX(-60%);
  }
  #check:checked ~ .link ul li {
    animation: animacion 0.5s ease forwards var(--i);
  }
  .link ul {
    flex-direction: column;
    float: right;
    width: 40%;
  }
  .link ul li {
    flex: initial;
    width: 100%;
    float: right;
    opacity: 0;
    transform: translateY(15px);
    background-color: rgba(105, 189, 231, 0.7); /*#69bde7;*/
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
  }
  .link ul li a {
    text-transform: none;
  }
  .contenedor-menu-hamburguesa {
    display: flex;
  }
  #check {
    display: flex;
  }
  .nombre {
    margin-top: 10px;
  }
  .nombre-autor {
    margin-top: 40%;
  }
  .menu {
    background-color: transparent;
  }
  .foto {
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .nombre-autor img {
    width: 100%;
  }
  .caja {
    width: 100%;
    overflow-y: scroll;
  }
  .tools {
    display: none;
  }
  .my-body {
    display: flex;
  }
  .parallax-capa2 {
    background: linear-gradient(103deg, #c01f1f 0%, #440c08 100%);
  }
  .capa2 {
    width: 100%;
    height: auto;
  }
  .contenido {
    display: flex;
    flex-direction: column-reverse;
  }
  .capa2 .acercade {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .capa2 .acercade p {
    font-size: 17px;
  }
  .contenedor-img {
    width: 100%;
    display: none;
  }
  .sobremi {
    margin: 20px 0 5px 0 auto;
  }
  .formenu {
    display: block;
  }
  .container {
    width: 100%;
    height: auto;
  }
  .portafolio {
    grid-template-rows: repeat(3, 250px);
    row-gap: 1em;
    padding: 10px;
    padding-bottom: 50px;
  }
  .trabajo {
    grid-column: 1/-1;
  }

  .miportafolio {
    margin: 80px auto 20px;
  }
  .contacto {
    margin: 12vh auto 10px;
  }
  .media {
    margin: 10px 0 0px;
  }
  .footer #segunda-fila {
    display: block;
  }
  .footer #firts-row {
    display: none;
  }
  .sobremi h2,
  .habilidades .skill h3,
  .miportafolio h3,
  .contacto h3 {
    font-size: 30px;
  }
}
